$color-primary-cyan: hsl(179, 62%, 43%);
$color-secondary-cyan: hsl(179, 62%, 46%);
$color-primary-bright-yellow: hsl(71, 73%, 54%);
$color-neutral-gray: hsl(204, 43%, 93%);
$color-neutral-grayish-blue: hsl(218, 22%, 67%);
$color-light-gray: hsla(203, 44%, 93%, 0.6);

